A100_Project/ConsoleClient/Connected Services/ASTI_Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ASTI_Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ASTI_DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IASTI_Services_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IASTI_Services_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IASTI_Services_GetCityes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCityes" />
  </wsdl:message>
  <wsdl:message name="IASTI_Services_GetCityes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCityesResponse" />
  </wsdl:message>
  <wsdl:portType name="IASTI_Services">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IASTI_Services/SendMessage" message="tns:IASTI_Services_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASTI_Services/SendMessageResponse" message="tns:IASTI_Services_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCityes">
      <wsdl:input wsaw:Action="http://tempuri.org/IASTI_Services/GetCityes" message="tns:IASTI_Services_GetCityes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IASTI_Services/GetCityesResponse" message="tns:IASTI_Services_GetCityes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IASTI_Services" type="tns:IASTI_Services">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IASTI_Services/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityes">
      <soap:operation soapAction="http://tempuri.org/IASTI_Services/GetCityes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASTI_Services">
    <wsdl:port name="BasicHttpBinding_IASTI_Services" binding="tns:BasicHttpBinding_IASTI_Services">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/A100_Service.Services.ASTI/ASTI_Services/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>